html, body{
    width:100%;
}
body{
    background: url(cat.jpg);
    overflow:hidden;
}
#calculator {
    width: 50vh;
    height: 75vh;
    background: #3d4164;
    padding-top:15px;
    padding-right:5px;
    padding-left:5px;
    border-radius: 3%;
}
#display {
    width: 72%;
    height: 10.75vh;
    border-radius: 3%;
    font-size:40px;
}
button {
    width: 24%;
    height: 12vh;
    border-radius: 3%;
    background: #c37685;
}