@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');
body {
    font-family: 'Syne Tactile', cursive;
    background: url('BYRON.png');
    /*sets background image to a picture of my friend*/
    font-size: 50px;
    
  }
  table {
    border: 5px solid #000000;
    width:500px;
  }
  table:nth-child(even) {
    background-color: #66000000;
  }
  
  button {
    margin: 0;
    height: 75px;
    width: 110px;
    border: 1px;
    border-radius:1px;
    background-color: #e6e6e6;
    font-family:'Syne Tactile', cursive;
    font-weight: bold;
    font-size: 1.5em;
  }
  
  button:hover {
   background-color: #c8c8c8; 
  }
  
  .special-btn {
    background-color: #a8f0ec;
  }
  
  .special-btn:hover {
    background-color: #99d6d4;
  }
  
  #display-cell {
    color:indigo;
    font-size:80px;
  }